*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: 0 auto;
    padding: 20px 10px;
    max-width: 700px;
}

.container > div:not(:first-child) {
    margin-top: 20px;
}
